<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/layout}">
<head>
<meta charset="UTF-8"></meta>
<meta name="viewport"
	content="width=device-width, initial-scale=1, shrink-to-fit=no">
<!-- CSS読込 -->
<link rel="stylesheet"
	th:href="@{/webjars/bootstrap/css/bootstrap.min.css}">
<link rel="stylesheet" th:href="@{/css/addressForm.css}">

<!-- JS読込 -->
<script th:src="@{/webjars/jquery/jquery.min.js}" defer></script>
<script th:src="@{/webjars/bootstrap/js/bootstrap.min.js}" defer></script>
<title>注文内容確認</title>
</head>
<body>
<div layout:fragment="content">

	<form id="address-form" method="post" th:action="@{/list/voucher}"
		class="form-address" th:object="${addressForm}">

		<div class="p-3 border rounded">

			<h2>注文内容確認</h2>
			<div>以下の内容で注文します。よろしいければ注文ボタンを押して下さい。</div>

			<!-- 氏名 -->
			<div class="form-group">
				<label for="name" th:text="#{name}"></label> <input type="text"
					class="form-control" th:value="${addressForm.name}" id="name"
					name="name" th:errorclass="is-invalid" readonly />
				<div class="invalid-feedback" th:errors="*{name}"></div>
			</div>

			<!-- 電話番号 -->
			<div class="form-group">
				<label for="phoneNumber" th:text="#{phoneNumber}"></label> <input
					type="text" class="form-control"
					th:value="${addressForm.phoneNumber}" id="phoneNumber"
					name="phoneNumber" th:errorclass="is-invalid" readonly />
				<div class="invalid-feedback" th:errors="*{phoneNumber}"></div>
			</div>

			<!-- 郵便番号 -->
			<div class="form-group">
				<label for="postalCoder" th:text="#{postalCoder}"></label> <input
					type="text" class="form-control"
					th:value="${addressForm.postalCoder}" id="postalCoder"
					name="postalCoder" th:errorclass="is-invalid" readonly />
				<div class="invalid-feedback" th:errors="*{postalCoder}"></div>
			</div>

			<!-- 都道府県 -->
			<div class="form-group">
				<label for="prefectures" th:text="#{prefectures}"></label> <input
					type="text" class="form-control"
					th:value="${addressForm.prefectures}" id="prefectures"
					name="prefectures" th:errorclass="is-invalid" readonly />
				<div class="invalid-feedback" th:errors="*{prefectures}"></div>
			</div>

			<!-- 市区町村 -->
			<div class="form-group">
				<label for="municipalities" th:text="#{municipalities}"></label> <input
					type="text" class="form-control"
					th:value="${addressForm.municipalities}" id="municipalities"
					name="municipalities" th:errorclass="is-invalid" readonly />
				<div class="invalid-feedback" th:errors="*{municipalities}"></div>
			</div>

			<!-- 丁目  番地  号 -->
			<div class="form-group">
				<label for="number" th:text="#{number}"></label> <input type="text"
					class="form-control" th:value="${addressForm.number}"
					id="number" name="number" th:errorclass="is-invalid" readonly />
				<div class="invalid-feedback" th:errors="*{number}"></div>
			</div>

			<!-- カートの中の商品一覧 -->
			<div th:each="item: ${cart.itemList}">
				<img alt="" th:src="${item.itemImage}"
					th:href="@{'/list/details/' + ${item.id}}"> <a
					th:text="${item.itemName}"
					th:href="@{'/list/details/' + ${item.id}}"></a>
				<div th:text="${item.itemPrice} + '円' "></div>
				<div th:text="${item.cartItemInventory} + '個' "></div>
				<input type="hidden" id="itemId" name="id" th:value="${item.id}">
			</div>

			<!-- 合計金額 -->
			<div th:text=" '合計金額は' +${money} + '円' "></div>



			<!-- ボタン -->
			<button type="submit" name="order"
				class="btn btn-light btn-outline-dark">注文する</button>
			<button type="submit" name="revision"
				class="btn btn-light btn-outline-dark">修正する</button>

		</div>
	</form>
	</div>

</body>
</html>